.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-btn {
  background: #0be46d;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

